<html xmlns:th="http://www.thymeleaf.org">
<header>
    <link rel="stylesheet" href="/css/profile.css">
    <div class="container">

        <div class="profile">

            <div class="profile-image">

                <img src="/images/base_profile.png" width="152" height="152">

            </div>

            <div class="profile-user-settings">
                <h1 class="profile-user-name"><span th:text="${profile.getUser().getUsername()}"></span></h1>

                <!-- Spacer -->
                <div class="spacer"></div>
                <div th:if="${button}">
                <form action="/profile/edit" method="post">
                    <input type="hidden" name="id" th:value="${profile.getUser().getId()}">
                    <button type="submit" class="btn profile-edit-btn">Edit profile</button>
                </form>
                </div>
                <div th:if="${not button}">
                <form action="/profile/follow" method="post">
                    <input type="hidden" name="id" th:value="${profile.getUser().getId()}">
                    <button type="submit" class="btn profile-follow-btn">Follow</button>
                </form>
                </div>
                <div th:if="${button}">
                <form action="/logout" method="get">
                    <button type="submit" class="btn profile-follow-btn" id="createButton">Logout</button>
                </form>
                </div>

                <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
                                                                                          aria-hidden="true"></i>
                </button>
            </div>
            <div class="profile-stats">
                <form action="/profile/followingList" method="post">
                    <input type="hidden" name="id" th:value="${profile.getUser().getId()}">
                    <button class="transparent-button" type="submit" id="followingList"
                            th:text="${following.size()} + ' following'"></button>
                </form>
                <form action="/profile/followerList" method="post">
                    <input type="hidden" name="id" th:value="${profile.getUser().getId()}">
                    <button class="transparent-button" type="submit" id="followerList"
                            th:text="${follower.size()} + ' follower'">followList
                    </button>
                </form>
            </div>
            <div class="profile-bio">
                <p><span class="profile-real-name" th:text="${profile.getIntroduction()}"></span>🐕️</p>
            </div>
        </div>
        <!-- End of profile section -->

        <script src="/js/profile.js"></script>
    </div>
    <!-- End of container -->

</header>

<body>

<a href="/home">
    <img src="/images/home_icon.png" class="fixed-home-icon">
</a>

<div class="container">

    <div class="gallery" th:each="board : ${boards}">


        <div class="gallery-item" tabindex="0">
            <a th:href="@{/board/view/{id}(id=${board.getId()})}">
                <img th:src="${board.getImagePath()}" class="gallery-image" alt="" width="300px" height="300px">

                <div class="gallery-item-info">

                </div>
            </a>

        </div>

    </div>
    <!-- End of gallery -->

</div>
<!-- End of container -->
</body>
</html>
