<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
<div class="card">
    <div class="profile">
        <h4 th:text="${user.getUsername()}"></h4>
        <img src="/images/base_profile.png"/>

    </div>
    <div class="post">
        <img src="/images/base_board_image.png"/>
    </div>
    <div class="about-post">
        <form action="/board/post" method="post" enctype="multipart/form-data">
            <input id="editableTitle" class="name_caption" type="text" placeholder="제목을 입력해주세요..." value=""
                   name="title">
            <textarea id="postContent" class="name_caption" rows="5" placeholder="게시글을 작성해주세요..."
                      name="content"></textarea>
            <button type="submit"
                    class="btn green small"
                    id="createButton" data-text="Create New"><span>Create New</span></button>
        </form>
    </div>
</div>
<script src="/js/post.js"></script>
</body>
</html>

