.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로축 중앙 정렬 */
    justify-content: center; /* 세로축 중앙 정렬 */
    height: 100vh; /* 뷰포트 높이에 맞춤 */
}

a {
    text-decoration:none;
    color:black;
}
