body {
    background-color: #f5f5f5;
    width: 100vw;
    overflow: hidden;
    font-family: "Oxygen";
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 뷰포트 높이에 맞춤 */
}

.card{
    width: 400px;
    max-width: 400px;
    height: 80vh; /* Adjust this value as needed */
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
}
.profile{
    position: relative;
    height:auto;
    width:100%;
    background-color:white;
    border-radius:10px;
}
.profile img{
    height:50px;
    width:50px;
    margin-left:5%;
    margin-bottom:;
    margin-top:3%;
    border-radius:50%;
    object-fit: cover;
}
.profile h4{
    position:absolute;
    font-size:16px;
    font-weight:strong;
    padding-left:80px;
    padding-top:-5%;

}
.profile i{
    position:absolute;
    font-weight:strong;
    left:280px;
    top:-50px;


}
.profile h5{
    position:absolute;
    font-size:13px;
    font-weight:strong;
    color:gray;
    padding-left:80px;
    padding-top:5%;
}
.profile span{
    position:absolute;
    font-size:35px;
    font-weight:strong;
    top:0px;
    left:200px;

}
.profile h6{
    position:absolute;
    font-size:16px;
    font-weight:900;
    color:#0095f6;
    left:220px;
    top:-15px;

}

.about-post{
    margin-left:15px;
    margin-right:15px;
    margin-top:5px;

}
.about-post img{
    top:0px;
    border-radius:50%;

}
.name_caption{
}

.content_caption{
    margin-top:5px;
    font-size:14px;
    width: 90%;
    word-wrap: break-word; /* Older browsers */
    overflow-wrap: break-word; /* Standard property */
    max-width: calc(100% - 30px); /* 100% of the .card width minus the padding on both sides */
}

.about-post h5{
    font-size:13px;
    color:gray;
    top:-10px;
    height:10px;
}
.about-post input{
    width:90%;
    border:0;
    font-family:"Oxygen";
    padding-left:10px;
    margin-top:-10px;
}
.about-post input::placeholder{
    padding-top:-10px;
    font-size:14px;
    font-weight:bold;
    mergin-top:-10px;
}
.about-post h6{
    margin-top:-14px;
    color:gray;
}

/* 드롭다운 컨테이너 스타일링 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 드롭다운 내용 스타일링 */
.dropdown-content {
    display: none;
    position: absolute;
    left:150px;
    top:-50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* 드롭다운 항목 스타일링 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 항목에 마우스를 올렸을 때의 스타일링 */
.dropdown-content a:hover {background-color: #f1f1f1}

.show {
    display: block;
}

.post img{
    width:100%;
    height:auto;
    object-fit: contain;
}
